<div id="my_surveys">

  <h2>My Surveys</h2>

  <% @current_user.surveys.each do |survey| %>
    <h3><%= survey.name %></h3>
    <h4><a href="survey/edit/<%= survey.id%>">Edit Survey</a></h4>
    <h4><a href="survey/view_results/<%= survey.id%>">View Results</a></h4>
    <% end %>

</div>
