<p>Are you sure?</p>

<form id="delete_user-<%= current_user.id %>" method="post" action="/profile/<%= current_user.id %>/delete"><input class="btn-success" type="submit" name="submit" value="Yes, I'm sure"></form>

<a id="second_thoughts" href="/profile/<%= current_user.id %>/edit">Wait, I'm having second thoughts.</a>
