

  <ul>
    <a href="/">Home</a>
    <a href="/surveys/all">Take a Survey</a>
    <a href="/user/<%= @current_user.id %>/surveys">My Surveys</a>
    <a href="/create_survey">Create a Survey</a>
  </ul>

  <!-- SECTION-2 -->
<section id="Section-2">
  <div class="container">
    <div class="row">
	  <div class="span12 page-header text-center color-white" style="padding-top:30px;">
		<h3>SECTION-3 HOW MACH IS THE FISH</h3>
	  </div> 
	</div>	
	<div class="row">
	  <div class="span4 text-center">
		<div class="box">
		  <h3>Dashboard</h3>
			<p>Take a survey.</p>
			<hr>
			<p><a class="btn" href="/surveys/all">Take Survey</a></p>
		</div>
	  </div>        
		
		<div class="span4 text-center">
			<div class="box">
				<h3>Heading</h3>
					<div class="pricing-table-features">
						<p><strong>50</strong> Email Addresses</p>
						<p><strong>35GB</strong> of Storage</p>
						<p><strong>40</strong> Databases</p>
						<p><strong>10</strong> Domains</p>
						<p><strong>24/7 Unlimited</strong> Support</p>
					</div>
					<hr>
				<p><a class="btn" href="http://www.bootstraptor.com">View details »</a></p>
			</div>
		</div>		
		
		<div class="span4 text-center">
			<div class="box">
				<h3>Heading</h3>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<hr>
				<p><a class="btn" href="http://www.bootstraptor.com">View details »</a></p>
			</div>
		</div>
      </div>
	</div><!-- / CONTAINER-->
	
 </section> 
 <!-- / SECTION-2 -->
