<div id="welcome_user">Welcome, <%= current_user.email %></div>

<div id="content">

  <h2><a href="/user/:user_id/surveys">My Surveys</a></h2>


  <h2><a href="/surveys/all">Take a Survey</a></h2>

  <button><a href="/create_survey">Create a Survey</a></h2>

</div>
