  <ul>
    <a href="/">Home</a>
    <a href="/surveys/all">Take a Survey</a>
    <a href="/user/<%= @current_user.id %>/surveys">My Surveys</a>
    <a href="/create_survey">Create a Survey</a>
  </ul>
