<div class="container"> 
  <form id="login" method="post" action="/login">
  	<fieldset>
      <input type="text" name="user[email]" placeholder="Email"> 
      <input type="password" name="user[password]" placeholder="Password">
      <input name="submit[login]" type="submit" value="Login">
    </fieldset>
  </form>
</div>