<div class="container"> 
  <form id="login" method="post" action="/login">
  	<fieldset>
      <input type="text" name="email" placeholder="Email"> 
      <input type="password" name="password" placeholder="Password">
      <input name="login" type="submit" value="Login">
    </fieldset>
  </form>
</div>