<div class="container"> 
  <form id="sign-up" method="POST" action="/register">
  	<fieldset>
      <input type="text" name="user[email]" placeholder="Email"> 
      <br>
      <input type="password" name="user[password]" placeholder="Password">
      <br>
      <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
      <br>
      <input name="submit[register]" type="submit" value="Sign Up">
    </fieldset>
  </form>
</div>