<form id='add-choice' action='/add_choice' method='post'>
  <input type='text' placeholder='Enter a choice' name='choice_context1'>
  <input type='text' placeholder='Enter a choice' name='choice_context2'>
  <input type='text' placeholder='Enter a choice' name='choice_context3'>
  <input type='text' placeholder='Enter a choice' name='choice_context4'>
  <input type='submit' value='Submit Survey'>
</form>
