<div class="container">
  <h3>Create Survey: </h3>
  <div id='survey-name'></div>
  <div>
    <form id='create-survey' action='/create_survey' method='post'>
      <input type='text' name='name' placeholder='Survey Name'>
      <input type='submit' value='Submit Name'>
    </form>
  </div>
  <div id='append-question'></div>
</div>
