<!--  SECTION-1 -->
<section id="Section-1">
  <div class="container">
    <div class="row">
      <div class="span6 page-header color-white" >
        <h3 style="padding-top:50px;">Create Survey: </h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 color-white">
        <div class="row-fluid">
          <div class="span12">
            <p class="lead">Create your new survey.</p>
            <div id='survey-name'></div>
            <div id='question-context'></div>
            <div class='choice-feature'>Add Choices: </div>
            <div id='choice-context'></div>
            <div>
              <form id='create-survey' action='/create_survey' method='post'>
                <input type='text' name='name' placeholder='Survey Name'>
                <input type='submit' value='Submit Name'>
              </form>
            </div>
            <div id='append-question'></div>
            <div id='append-choice'></div>
            <div id='finish-survey'></div>
            <a class='add-question' id='add-question-link'>Add Question</a>
            <a class='finish-survey' href="/user/<%= current_user.id %>/surveys">Finish Survey</a>
          </div>
        </div><!-- /INNER ROW-FLUID-->
      </div><!-- SPAN6-->
    </div>
  </div><!-- / CONTAINER-->
</section>
