<div class="edit_survey>
  <form id="edit_survey" method="post" action="/save_survey/<% @survey.id %>">
    <input type="text" name="user[username]" placeholder="">
    <br>
    <input type="password" name="user[password]" placeholder="Password">
    <br>
    <input name="submit[signup]" type="submit" value="Sign In">
  </form>

</div>
