<section id="Section-1">
  <div class="container">
    <div class="row">
      <div class="span6 page-header color-white">
      	<h3 style="padding-top:50px;">What would you like to do?</h3>
  <% if session[:id] == nil %>
    <span class="" id="startbtn">
      <a class="btn btn-start" href="/login">Login</a>
    </span>
  <% else %>
    <span class="" id="startbtn">
      <a class="btn btn-start" href="/register">Sign Up</a>
    </span>
  <% end %>
</div>
